In [1]:
import scipy as sp

In [2]:
list_numbers=[23,24,67,89]

In [3]:
import numpy as np
from scipy import stats

In [4]:
stats.zscore(list_numbers)

array([-0.97916192, -0.94387681,  0.57338311,  1.34965562])

In [5]:
import pandas as pd

In [7]:
df=pd.read_csv("Salary_Data.csv")
df

,YearsExperience,Salary,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,1.1,39343,NaN,NaN,NaN,NaN,NaN
1,1.3,46205,NaN,NaN,NaN,corr,0.978242
2,1.5,37731,NaN,NaN,NaN,NaN,NaN
3,2.0,43525,NaN,NaN,NaN,NaN,NaN
4,2.2,39891,NaN,NaN,NaN,NaN,NaN
5,2.9,56642,NaN,NaN,NaN,NaN,NaN
6,3.0,60150,NaN,NaN,NaN,NaN,NaN
7,3.2,54445,NaN,NaN,NaN,NaN,NaN
8,3.2,64445,NaN,NaN,NaN,NaN,NaN
9,3.7,57189,NaN,NaN,NaN,NaN,NaN
10,3.9,63218,NaN,NaN,NaN,NaN,NaN
11,4.0,55794,NaN,NaN,NaN,NaN,NaN
12,4.0,56957,NaN,NaN,NaN,NaN,NaN
13,4.1,57081,NaN,NaN,NaN,NaN,NaN
14,4.5,61111,NaN,NaN,NaN,NaN,NaN
15,4.9,67938,NaN,NaN,NaN,NaN,NaN
16,5.1,66029,NaN,NaN,NaN,NaN,NaN
17,5.3,83088,NaN,NaN,NaN,NaN,NaN
18,5.9,81363,NaN,NaN,NaN,NaN,NaN
19,6.0,93940,NaN,NaN,NaN,NaN,NaN
20,6.8,91738,NaN,NaN,NaN,NaN,NaN
21,7.1,98273,NaN,NaN,NaN,NaN,NaN
22,7.9,101302,NaN,NaN,NaN,NaN,NaN
23,8.2,113812,NaN,NaN,NaN,NaN,NaN
24,8.7,109431,NaN,NaN,NaN,NaN,NaN
25,9.0,105582,NaN,NaN,NaN,NaN,NaN
26,9.5,116969,NaN,NaN,NaN,NaN,NaN
27,9.6,112635,NaN,NaN,NaN,NaN,NaN
28,10.3,122391,NaN,NaN,NaN,NaN,NaN
29,10.5,121872,NaN,NaN,NaN,NaN,NaN

In [8]:
stats.zscore(df['Salary'])

array([-1.36011263, -1.10552744, -1.419919  , -1.20495739, -1.33978143,
       -0.71830716, -0.58815781, -0.79981746, -0.42881019, -0.69801306,
       -0.47433279, -0.74976858, -0.70662043, -0.70201994, -0.55250402,
       -0.29921736, -0.37004264,  0.26285865,  0.19885989,  0.66547573,
        0.58377993,  0.82623317,  0.93861127,  1.40274136,  1.24020308,
        1.09740238,  1.51986835,  1.3590738 ,  1.72102849,  1.70177321])